.article-view-content{

}

.article-view-content-header{
    padding-top: 60px;
}

.article-view-content-header-h1{
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

.article-view-content-image{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    object-fit: contain;
}

.article-view-content-text{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

.article-view-comments{
    padding-top: 55px;
    width: 100%;
}

.article-view-comments-form{

}

.article-view-comments-avatar{
    width: 60px;
    object-fit: contain;
}

.article-view-comments-form-input{
    padding: 20px;
    height: 61px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #aaaaaa;
    width: 100%;
    font-size: 20px;
}

.article-view-comments-form-button{
    background-image: url("/static/backend/img/send-comment.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.article-view-comments-list{
    padding-bottom: 60px;
}

.article-view-comments-list-item{
    padding-top: 40px;
}

.article-view-comments-list-item-username{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

.article-view-comments-list-item-date{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(30, 30, 30, 0.54);
}

.article-view-comments-list-item-text{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}